<div class="interface" ng-controller="contact-controller">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-left" target="_self"><img src="img/logo.png" alt="WTNV Logo"></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a class="nav-item" href="#today" target="_self">Today</a></li>
                    <li><a class="nav-item" href="#contact" target="_self">Feedback</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <br>
    <jumbotron>
        <div class="container-fluid" >
            <div class="row">
                <div class="text-center">
                    <h3>Comming soon...</h3>
                </div>
            </div>
        </div>
    </jumbotron>
</div>